{{$boardLetter := .BoardLetter}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="showboard.css">
    <link rel="manifest" href="manifest.json" />
    <!-- iOS support -->
    <link rel="apple-touch-icon" href="images/icons/icon-72x72.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-96x96.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-128x128.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#BB86FC" />
    <meta name="theme-color" content="#BB86FC" />
    <title>4chan Board /{{.BoardLetter}}/ - Page {{.Page}}</title>
  </head>
  <body>
    <main>
      <header>
        <h1>4chan - /{{.BoardLetter}}/</h1>
      </header>
        <h2>Page: {{.Page}}</h2>
        {{range .Threads}}
            <section>
              <a href="/get_thread?thread={{.No}}&board={{$boardLetter}}">
              <h4>{{.No}}</h4>
              <h4 class="postername">{{.Name}}</h4>
              <p>{{.Sub}}</p>
              </a>
              {{ if (gt .Tim 0) }}
                {{ if eq .Ext ".webm" }}
                <video controls loop src="images/{{.Tim}}{{.Ext}}" alt="Thread {{.No}} thumbnail">
                </video>
                {{ else }}
                  <img src=images/{{.Tim}}{{.Ext}} id="{{.Tim}}"  alt="Thread {{.No}} thumbnail"/>
                {{ end }}
              {{ end }}
              <p class="comment">{{.Com}}</p>
              <p class="thread-info">Replies: {{.Replies}} / Images: {{.Images}}</p>
              <p class="thread-time">Time: {{.Time}}</p>
              {{if eq .Closed 1}}
                <span class="closed">(Closed)</span>
              {{else}}
                <span class="open">(Open)</span>
              {{end}}
            </section>
        {{end}}
      <footer>
        {{ if gt .PreviousPage 0 }}
          <p class="page-nav"><a href="/get_boards?board={{.BoardLetter}}&page={{.PreviousPage}}"><- Previous Page</a></p>
        {{ end }}
        {{ if gt .NextPage 0 }}
          <p class="page-nav"><a href="/get_boards?board={{.BoardLetter}}&page={{.NextPage}}">Next Page -></a></p>
        {{ end }}
      </footer>
    </main>
  </body>
</html>
