<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>4chan /{{.BoardLetter}}/ - {{.ThreadNo}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="showthread.css">
    <link rel="manifest" href="gochan.webmanifest" />
  </head>
  <body>
    <header>
      <h1>4Chan - /{{ .BoardLetter }}/ - {{ .ThreadNo }}</h1>
    </header>
    <main>
      {{range .Posts}}
      <section>
        <h4>{{.No}}</h4>
        <p class="sub">{{.Sub}}</p>
        {{ if (gt .Tim 0) }}
          {{ if eq .Ext ".webm" }}
            <video controls loop src="images/{{.Tim}}{{.Ext}}" alt="Thread {{.No}} thumbnail">
            </video>
          {{ else }}
            <img src=images/{{.Tim}}{{.Ext}} id="{{.Tim}}"  alt="Thread {{.No}} thumbnail"/>
          {{ end }}
        {{ end }}
        <p id="{{.No}}-quotepreview" style="display: none;"></p>
        <p id="{{.No}}-text">{{.Com}}</p>
        {{ if gt .Images 0 }}
          <p class="thread-info">Replies: {{.Replies}} / Images: {{.Images}}</p>
        {{ else }}
          <p class="thread-info">Replies: {{.Replies}} / Images: 0</p>
        {{ end }}
        <p class="thread-time">Time: {{.Time}}</p>
      </section>
      {{end}}
    </main>
    <script src="thread.js"></script>
  </body>
</html>
