<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="showthread.css">
    <link rel="manifest" href="manifest.json" />
    <!-- iOS support -->
    <link rel="apple-touch-icon" href="images/icons/icon-72x72.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-96x96.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-128x128.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#BB86FC" />
    <meta name="theme-color" content="#BB86FC" />
    <title>4chan /{{.BoardLetter}}/ - {{.ThreadNo}}</title>
  </head>
  <body>
    <main>
    <header>
      <h1>4Chan - /{{ .BoardLetter }}/ - {{ .ThreadNo }}</h1>
    </header>
      {{range .Posts}}
      <section>
        <h4>{{.No}}</h4>
        <p class="sub">{{.Sub}}</p>
        {{ if (gt .Tim 0) }}
          {{ if eq .Ext ".webm" }}
            <video controls loop src="images/{{.Tim}}{{.Ext}}" id="{{.No}}" alt="Thread {{.No}} thumbnail">
            </video>
          {{ else }}
            <img src=images/{{.Tim}}{{.Ext}} id="{{.No}}" alt="Thread {{.No}} thumbnail"/>
          {{ end }}
        {{ end }}
        <div class="previewspan" id="{{.No}}-post-preview" style="display: none;">
          <img id="{{.No}}-quoteimage" class="noshadowimg" src="//:0" />
          <br />
          <p id="{{.No}}-quotepreview" style="display: none;"></p>
        </div>
        <p id="{{.No}}-text">{{.Com}}</p>
        {{ if gt .Images 0 }}
          <p class="thread-info">Replies: {{.Replies}} / Images: {{.Images}}</p>
        {{ else }}
          <p class="thread-info">Replies: {{.Replies}} / Images: 0</p>
        {{ end }}
        <p class="thread-time">Time: {{.Time}}</p>
      </section>
      {{end}}
    </main>
    <script src="thread.js"></script>
  </body>
</html>
